* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;

  background-color: #031926;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-color: #031926;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(12px + 2vmin);
  color: whitesmoke;
}

@media only screen and (max-width: 495px) {
  :root {
    font-size: 67.3%;
  }
}
